*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color:white;
    
}
p{
    color:rgba(200, 200, 200, 0.504);
}
header{
    display: flex;
    justify-content: space-between;
      
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
a{
 color:rgba(200, 200, 200, 0.504);
   margin: 40px;
   text-decoration: none;
}
button{
    background-color: yellow;
    color: black;
    width: 120px;
    height: 40px;
    border: none;
    margin-top: -10px;
    margin-left:50px;
}
button:hover{
    background-color: bisque;
}
h1{
    font-family: 'prata';
    font-size:18px;
    font-size: 50px;
}
.container{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
.text{
    width: 550px;
    margin-top: 50px;
    
}
p{
    margin-top: 15px;
    text-align: justify;
}
.logos{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    justify-content:space-between ;
}
.textos-card{
    display: flex;
    gap: 80px;
}
.texto-card1{
    width: 800px; 
}
.texto-card2{
    width: 800px;
}
.content{
    margin-top: 30px;
    background-color:rgba(104, 101, 105, 0.315);
    color: white;
   
}
.texto-content{
    text-align:left;
}
